@import url( "kxfm.css" );

p > span.ktscontainer       { box-shadow    : unset; }
p > span.ktscontainer > svg { margin-bottom : -14px; } /* align vertically with text */

div:has( > span.ktscontainer),
  p:has( > img )
                            { width: 100%; max-width: unset; display:flex; justify-content: center; }

div#ktsConsole { display: none; }
